extends layout

include seller-filter.pug
include category-filter.pug
include modal-item.pug
include modal-item-admin.pug
include modal-add-item.pug
include modal-login.pug

block content
  div.row.d-flex.justify-content-between.m-3

    div.col-md-3.my-2
      div.border.rounded.border-dark.p-2
        h3.text-center
          u Search filter:
        div.input-group.mb-3
          input#SearchInput.form-control(type="search" placeholder="Search" aria-label="Search")
          div.input-group-append
            button#SearchButton.btn.btn-outline-secondary(
              data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Incorrect enter.") Search

        div#filter_menu
          +seller_filter(sellers)
          +category_filter(categories)
          div.card
            div#HeadingPrice.card-header.btn.btn-block(data-toggle="collapse" data-target="#Price" aria-expanded="false" aria-controls="Price")
              h5.mb-0.text-truncate Price
            div#Price.collapse.show(aria-labelledby="HeadingPrice", data-parent="#filter_menu",
              data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Incorrect enter.")

              div.card-body
                div.form-row.align-items-center
                  div.col-auto.my-1
                    label(for="PriceMin") Minimum price:
                    div.input-group
                      div.input-group-prepend
                        div.input-group-text BYN
                      input#PriceMin.form-control(type="text")
                  div.col-auto.my-1
                    label(for="PriceMax") Maximum price:
                    div.input-group
                      div.input-group-prepend
                        div.input-group-text BYN
                      input#PriceMax.form-control(type="text")
                div.form-row.align-items-center
                  div.col-auto.my-1
                    label.mr-sm-2(for="PriceSortBy") Sort by:
                    select#PriceSortBy.custom-select
                      option(value="", selected) None
                      option(value="asc") Ascending
                      option(value="desc") Descending
          button#ResetFilter.btn.btn-secondary.btn-lg.btn-block Reset filter
          
      if locals.user && locals.user.role >= 2
        div.border.rounded.border-dark.p-2.mt-2
          h3.text-center
            u Admin panel:
          div.dropdown.mx-2
            button#ItemDropdown.btn.btn-secondary.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Item..
            div.dropdown-menu(aria-labelledby="ItemDropdown")
              button#AddItemButton.dropdown-item(data-toggle="modal" data-target="#AddItemModal") Add

    div.col-md-9.border.rounded.border-dark.p-2.my-2
      div.d-flex.justify-content-center.my-2
        img#ImgLoad(src="/public/img/Spinner-1s-200px.svg")
      div#items_table.row.d-flex.justify-content-center
      div#ItemsNav.d-flex.justify-content-center.my-2
        button#ItemsLoadButton.btn.btn-primary(type="button").mx-2 Load more      
      div.d-flex.justify-content-center.align-items-center.my-1
        b#ItemsCurrRangeFrom 1
        b -
        b#ItemsCurrRangeTo 20
        span.mx-1 of total:
        b#ItemsTotal 12


  if locals.user && locals.user.role >= 2
    +modal-item-admin
    +modal-add-item
  else
    +modal-item

  +modal-login
  script(src="/public/js/GC.js")
  script(src="/public/js/price_diagram.js")