mixin seller_filter(sellers)
    div.card
        div#HeadingSeller.card-header.btn.btn-block(data-toggle="collapse" data-target="#Seller" aria-expanded="false" aria-controls="Seller")
            h5.mb-0.text-truncate Seller
        div#Seller.collapse(aria-labelledby="HeadingSeller" data-parent="#filter_menu")
            div.card-body
                -for(let i = 0; i < sellers.length; i++)
                    -let checkboxID = sellers[i]._id;
                    div.form-check
                        input.form-check-input(id = checkboxID, type="checkbox", value=sellers[i].seller_name, data-descr=sellers[i].seller_description)
                        label.form-check-label(for = checkboxID)= sellers[i].seller_name