extends layout

block content
    h1 Welcome #{locals.user.email}
    //--img(src=user.picture)
    if locals.user && locals.user.role == 2
      h3 Role: Admin
    p Your ID is: 
      u #{locals.user._id}
